<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <b><button class="toggle-btn" (click)="toggleSpells()">
        {{
          showSpells ? "Fechar Lista" : "Mostrar Lista"
        }}
      </button></b>

      <div class="spells-container" *ngIf="showSpells">
        <div class="spell-card" *ngFor="let spell of spells">
          <h2>{{ spell.name }}</h2>
          <p>{{ spell.description }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
