<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="characters-container">
      <div class="character-card" *ngFor="let item of characters">
        <img [src]="item.image" alt="{{ item.name }}" />
        <p>{{ item.name }}</p>
        <p>{{ item.house }}</p>
        <p>{{ item.patronus }}</p>
      </div>
    </div>

    <!-- Lista de feitiços abaixo dos personagens -->
    <div class="spells-wrapper">
      <app-spells-list></app-spells-list>
    </div>
  </body>
</html>
